<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <uses-feature android:name="android.hardware.camera" android:required="false"></uses-feature>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icono_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.CucharON"
        tools:targetApi="31">

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCENVspvCba6DQtdM0BwqotukIBwK9Wdrg"
    />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="Presentation.IUAddPlato"
            android:screenOrientation="portrait"
            android:exported="true" />

        <activity
            android:name="Presentation.ReservaPaso1"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="Presentation.ReservaPaso2"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="Presentation.Navegacion"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="Presentation.Perfil"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="Presentation.IUEditPerfil"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="Presentation.IUregistro"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="Presentation.IUlogin"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="Presentation.Mapa"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="Presentation.PantallaDeCargaLogin"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="Presentation.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name="Presentation.PantalladaDeCargaInicio"
            android:theme="@style/splashScreem"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>


</manifest>